html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link#bootstrap-css(href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet")
        script(src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js")
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700', type='text/css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        style
            include ./css/stylehp1.css            
            include ./css/material.min.css            
        script
            include ./css/material.min.js
        script 
            include ./css/search.js   
        script 
            include ./css/jquery.js  
        script 
            include ./css/jquery.tablesorter.js
        script 
            include ./css/sugar-custom.min.js
        script 
            include ./css/parser-date.js     
        script(src='./css/material.min.js')         
        script.
            $(document).on('change','#choice',function(){
                        
                        $("#table tbody tr").hide();
                        $("#table tbody tr."+$(this).val()+"."+$("#optionYear").val()).show('fast');
                        });
            $(document).on('change','#optionYear',function(){
                        
                        $("#table tbody tr").hide();
                        $("#table tbody tr."+$(this).val()+"."+$("#choice").val()).show('fast');
                        });            
        title  Profile
        - var fadetails = "ADMIN"
        - var mdetails = JSON.parse(name)        
    body
        .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
            header.mdl-layout__header
                .mdl-layout__header-row
                    // Title
                    span.mdl-layout-title Faculty Workshop Management
                    // Add spacer, to align navigation to the right
                    .mdl-layout-spacer
                    // Navigation. We hide it in small screens.
                    nav.mdl-navigation.mdl-layout--large-screen-only
                        a.mdl-navigation__link(href='/logout') Logout
            div.main
            
                h1.text-center(text-align:center) Faculty Details
                h2.text-center(color:#515151)="Welcome " + fadetails
                script.

                    
                    $(function() {
                        $(".mdl-data-table").tablesorter({

                            dateFormat : "ddmmyyyy", // default date format

                            
                            });
                        });                          
                    function convertDate(d) {
                        var p = d.split("/");
                        return +(p[2]+p[1]+p[0]);
                        }

                    function sortByDate() {
                        var tbody = document.querySelector("#results tbody");
                        // get trs as array for ease of use
                        var rows = [].slice.call(tbody.querySelectorAll("tr"));

                        rows.sort(function(a,b) {
                        return convertDate(a.cells[0].innerHTML) - convertDate(b.cells[0].innerHTML);
                        });

                        rows.forEach(function(v) {
                        tbody.appendChild(v); // note that .appendChild() *moves* elements
                        });
                    }
                    $(document).ready(function(){
                        $("#myInput").on("keyup", function() {
                            var value = $(this).val().toLowerCase();
                            $("#table tr." + $("#optionYear").val()).filter(function() {                                
                                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                                            });
                                                        });                  
                                        });
                console.log(optionYear)
                div.form-group.optionsField
                    div.dropDown.colxs-3.collg-3.form-inline
                        label(for="choice") 
                            h5 Faculty Name  
                        select(id = "choice" value = "choice" name = "choice" class="form-control "  data-dropup-auto=false)
                            option(value="All") All
                            each details in mdetails
                                - var fdetails = details.name
                                option(value=`${JSON.stringify(fdetails).replace(/"|\s|\./g,"")}`) #{fdetails}
                    div.dropDown.colxs-3.collg-3.form-inline
                        label(for="optionYear") 
                            h5 Year  
                        select(id = "optionYear" value = "optionYear" name = "optionYear" class="form-control "  data-dropup-auto=false)
                            option(value="AllYear") All
                            option(value="Y2018") 2018
                            option(value="Y2017") 2017
                            option(value="Y2016") 2016
                            option(value="Y2015") 2015
                            option(value="Y2014") 2014
                            option(value="Y2013") 2013
                            option(value="Y2012") 2012
                            option(value="Y2011") 2011
                            option(value="Y2010") 2010

                            
                            
                            //- each details in mdetails
                            //-     - var fdetails = details.name
                            //-     option(value=`${JSON.stringify(fdetails).replace(/"|\s|\./g,"")}`) #{fdetails}            
                    div.search.form-inline
                        label(for="search") 
                            h5 Search for Details
                        input#myInput(type='text',name="search" class = "form-control form-control-lg form-control-borderless"   placeholder='Search for keywords..')        
                    
                table#table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp    
                    thead
                        tr
                            th.mdl-data-table__cell--non-numeric Faculty
                            th.mdl-data-table__cell--non-numeric Title
                            th.mdl-data-table__cell--non-numeric Duration
                            th.mdl-data-table__cell--non-numeric Organized by 
                            th.mdl-data-table__cell--non-numeric Sponsored
                            th Fees
                            th Date
                            //- th.mdl-data-table__cell--non-numeric UID
                            //- th.mdl-data-table__cell--non-numeric Edit
                            //- th.mdl-data-table__cell--non-numeric Upload/Delete Certificate 
                            th.mdl-data-table__cell--non-numeric View Certificate
                        //- tr
                        //-     td #{JSON.parse(name)[0]["Title"]}
                        //-     td #{JSON.parse(name)[0]["Duration"]}
                        //-     td #{JSON.parse(name)[0]["Organized"]}
                        //-     td #{JSON.parse(name)[0]["Sponsored"]}
                        //-     td #{JSON.parse(name)[0]["Fee"]}
                        //-     td #{JSON.parse(name)[0]["UID"]}
                        //-     td
                        //-         button(type="button" class="mdl-button mdl-js-button mdl-button--raised  mdl-button--colored butn" onclick='location.href="/edit#{JSON.parse(name)[0][/"UID"/]}"') edit
                        //-     td
                        //-         button(type="button" class="mdl-button mdl-js-button mdl-button--raised  mdl-button--colored butn" onclick='location.href="/upload"') Upload Certificate
                    tbody
                        each details in mdetails
                            - var fdetails = details.name
                            each val in details.workshops                         
                                tr(class="all allYear " + `${JSON.stringify(fdetails).replace(/"|\s|\./g,"")}` + " y" +`${JSON.stringify(val.Date).replace(/"|\s|\./g,"").slice(-4)}`)  
                                    td.mdl-data-table__cell--non-numeric #{fdetails}
                                    td.mdl-data-table__cell--non-numeric #{val.Title}
                                    td.mdl-data-table__cell--non-numeric #{val.Duration}
                                    td.mdl-data-table__cell--non-numeric #{val.Organized}
                                    td.mdl-data-table__cell--non-numeric #{val.Sponsored}
                                    td #{val.Fee}
                                    td #{val.Date}
                                    //- td #{val._id}
                                    //- td
                                    //-     button(type="button" class="mdl-button mdl-js-button mdl-button--raised  mdl-button--colored butn" onclick=`window.location.replace("edit/"+${JSON.stringify(fdetails)}+"/"+${JSON.stringify(val.Title)})`) edit
                                    //- td
                                        button(type="button" class="mdl-button mdl-js-button mdl-button--raised  mdl-button--colored butn" onclick=`window.location.replace("upload/"+${JSON.stringify(fdetails)}+"/"+${JSON.stringify(val.UID)})`) Upload Certificate
                                    td
                                        button(type="button" class="mdl-button mdl-js-button mdl-button--raised  mdl-button--colored butn" onclick=`window.location.replace("upload/"+${JSON.stringify(fdetails)}+"/"+${JSON.stringify(val.UID)})`) View            
                button(type="button"  class="mdl-button mdl-js-button mdl-button--raised  mdl-button--colored butn" onclick=`window.location.replace("addDetails/"+${JSON.stringify(fdetails)})`) Add New Workshops                                    
                                